<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1" application="index.xml">
    <menu id="english-menu" dtmf="true">
        <prompt xml:lang="fr-fr">
            <audio src="audio/fr-menu.wav"/>
        </prompt>
        <choice dtmf="1" next="fr/farming.xml"></choice>
        <choice dtmf="2" next="fr/questions.xml"></choice>
        <choice dtmf="9" next="language.xml"></choice>
        <!-- repeat the menu for no match or no input -->
        <noinput>
            <prompt xml:lang="fr-fr">
                <audio src="audio/fr-invalid.wav"/>
            </prompt>
            <reprompt />
        </noinput>
        <nomatch>
            <prompt xml:lang="fr-fr">
                <audio src="audio/fr-invalid.wav"/>
            </prompt>
            <reprompt />
        </nomatch>
    </menu>
</vxml>