<?xml version="1.0" encoding="UTF-8"?>
<vxml version="2.1">
    <menu id="menu" dtmf="true">
        <!-- list out the menu options -->
        <prompt>
            <audio src="/audio/bm-menu.wav"/>/
        </prompt>
        <!-- go to the next menu based on the user's choice -->
        <choice dtmf="1" next="/bm/farming.xml"></choice>
        <choice dtmf="2" next="/bm/questions.xml"></choice>
        <choice dtmf="9" next="/language.xml"></choice>
        <!-- repeat the menu for no match or no input -->
        <noinput>
            <prompt>
                <audio src="/audio/bm-invalid.wav"/>
            </prompt>
            <reprompt />
        </noinput>
        <nomatch>
            <prompt>
                <audio src="/audio/bm-invalid.wav"/>
            </prompt>
            <reprompt />
        </nomatch>
    </menu>
</vxml>